include \
    assets/rect.png \
    assets/font.ttf \
    simplepygamemenus/assets/rect.png \
    simplepygamemenus/assets/font.ttf

global-includes *png
global-includes *ttf

recursive-include *.png
recursive-include *.ttf